@use './_normalize.scss';
@use './_components.scss';
@use './_atoms.scss';
@use './_typography.scss';
@use './_scrollbar.scss';
@use './_layout.scss';
@import 'primeicons/primeicons.css';

* {
  font-family: 'Libre Caslon Display', serif;
}

html {
  // Prevent layout shift when scrollbar is hidden/shown
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  line-height: 1.5;
}

html,
body {
  min-height: 100vh;
  background-color: var(--color-neutral-white);
}
